<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="tabs.css">
    <script src="script.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="tabs.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgtUj9-u9zRi20k6Apg-Ii9TqbJmFa_2Q&sensor=false&marker=Portland,+Oregon"></script>
    <script type="text/javascript" src="freecycle_map.js"></script>
  </head>
  <body>
    <div >

    </div>

    <div class="container">

  <header>
    <!-- banner -->
    <div id="logo">
      <a href="../public/logo.png"></a>
    </div>
    <h1>Free Cycle Mapper - Portland, Oregon</h1>

  </header>

  <section>
    <div class="map">
      <h2>Free Cycle Items available in Portland, OR</h2>
      <div id="map_canvas" style="width:600px; height:600px">
      </div>
    </div>
  </section>



  <aside>
    <form>
      <fieldset>
        <legend>Filter your search</legend>
        <input type="text" placeholder="Location">
        <span class="help-block">Enter anything you would enter in a Google Maps search</span>
        <button type="submit" class="btn">Filter</button>
      </fieldset>
    </form>

    <div class="display-list">
      <h3>Today's Posts</h3>

        <ul id="tabs">
            <li><a href="#" name="tab1">ALL</a></li>
            <li><a href="#" name="tab2">MAP</a></li>
        </ul>

        <div id="content">
          <div id="tab1">
<<<<<<< HEAD
            <ul>
              <li><a href="#" class="post" id="first">First</a></li>
              <li><a href="#" class="post" id="second">Second</a></li>
              <li><a href="#" class="post" id="third">Third</a></li>
              <li>Socks</li>
              <li>Hamster</li>
              <li>Back Scratcher</li>
              <li>Han Solo Poster</li>
              <li>Ray Gun</li>
              <li>1984</li>
              <li>Avenger of Zendikar</li>
            </ul>
=======
            <ul id="subject-list"></ul>
>>>>>>> upstream/master
          </div>
          <div id="tab2">
            <ul id="location-list"></ul>
          </div>
        </div>

    </div>
  </aside>

  <footer class="well well-large">
    <div class="freecycle-logo">
      <a href="#">
        <img src="http://static.t-f-n.org/images/freecycle_logo.jpg" alt="free cycle logo" width="150px" height="50px">
      </a>
    </div>
  </footer>

</div>

</body>
</html>
