<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="script.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgtUj9-u9zRi20k6Apg-Ii9TqbJmFa_2Q&sensor=false&marker=Portland,+Oregon"></script>
    <script>
      $(document).ready(function() {

        // 1. SET SOME GLOBAL VARS THAT INITIALIZE WILL SET
        // AND CODEADDRESS WILL USE
        var geocoder; //codeAddress needs this, initialize sets this
        var map; //codeAddress needs this, initialize sets this
        var currentPopup; //codeAddress needs this
        var homeCenter; // center of the map- used when closing popups

        function initialize() {
          //geocoder is a global var, no var prefix here
          geocoder = new google.maps.Geocoder();
          var myLatlng = homeCenter = new google.maps.LatLng(45.528, -122.676); // this is Portland
          var mapOptions = {
            zoom: 12,
            center: new google.maps.LatLng(45.528, -122.676),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          //map is a global var, no var prefix here
          map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title:"Freecycle Mapper!",
          });
        }

        // This function adds the address passed to the map as a marker
        function codeAddress(address) {
          // var address = document.getElementById("address").value;
          geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              // map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                map: map, // using global "map" var here
                position: results[0].geometry.location
              });
              var popup = new google.maps.InfoWindow({
                  content: "test", // 3. DEFINE WHAT CONTENT WE WANT TO SHOW IN THE POPUP
                                    //   IF WE WANT TO SHOW THE LISTING CONTENT, WE'LL NEED
                                    //    TO PASS THAT INTO THE FUNCTION - NOTE THAT ADDRESS
                                    //    IS THE ONLY PARAMETER
                  maxWidth: 300
              });
              google.maps.event.addListener(marker, "click", function() {
                  if (currentPopup != null) {
                      currentPopup.close();
                      currentPopup = null;
                  }
                  popup.open(map, marker);
                  map.setCenter(results[0].geometry.location);
                  currentPopup = popup;
              });
              google.maps.event.addListener(popup, "closeclick", function() {
                  //map.panTo(homeCenter);
                  currentPopup = null;
              });

            }
            else {
              alert("Geocode was not successful for the following reason: " + status);
            }
          });
        }
        initialize();
        geoLoop();
        // codeAddress("Gresham");
        $("h1").click(function() {
          alert("Help!")
        })
        //this function takes addresses from array and loops them into
        // geocode function to produce markers
        function geoLoop() {
          var addressArray=new Array();
          // These all work!!! Things that don't are parens and generic
          // names that can be confused -- they need OR added
          addressArray[0] = "Gresham";
          addressArray[1] = "Portland";
          addressArray[2] = "Hillsboro";
          addressArray[3] = "5225 SE Taggart Ct, Portland, OR";
          addressArray[4] = "SE Morrison St & SE 12th Ave";
          addressArray[5] = "SE Oak & 10th, Portland, OR";
          addressArray[6] = "97212";
          addressArray[7] = "Sunnyside, OR"


          for (var i = 0; i < addressArray.length; i++) {
            codeAddress(addressArray[i]);
          }
        }
      });
      function popitup(url) {
        newwindow=window.open(url,'name','height=200,width=150');
        if (window.focus) {newwindow.focus()}
          return false;
      }

    </script>
  </head>

  <body>
    <div >

    </div>

    <div class="container">

  <header>
    <!-- banner -->
    <a href="#">
      <img src="http://static.t-f-n.org/images/freecycle_logo.jpg" alt="free cycle logo" width="150px" height="50px">
    </a>
    <h1>Free Cycle Mapper</h1>

  </header>

  <section>
    <div class="map">
      <h2>Items available in Portland, OR</h2>
      <div id="map_canvas" style="width:600px; height:600px">
      </div>
    </div>
  </section>



  <aside>
    <form>
      <fieldset>
        <legend>Filter your search</legend>
        <input type="text" placeholder="Location">
        <span class="help-block">Enter anything you would enter in a Google Maps search</span>
        <input type="text" placeholder="Keyword">
        <span class="help-block">Enter your heart's desire</span>
        <button type="submit" class="btn">Filter</button>
      </fieldset>
    </form>

    <div class="display-list">
      <h3>Today's Posts</h3>
      <div>
        <div class="posts">
          <a href="#" class="post">Cracker Jack Boxes</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Magic Wand</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Dead Fish</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Socks</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Golden Goose</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Green Ooze</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Box of Mud</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Pilgrims</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Evil Mirror</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <div class="post-div">
            <a href="#" class="post">Surfer Movie</a>
          </div>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Zombie Survival Kit</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
        <div class="posts">
          <a href="#" class="post">Wonder Bread</a>
          <div class="post-icons">
            <a href="#"><i class="icon-plus"></i></a>
            <a href="#"><i class="icon-minus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <footer class="well well-large">
    <h4>Contact us at 4567 SassyAss Lane in Portland, OR</h4>
  </footer>

</div>

</body>
</html>